/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

/* Переменные светлой темы */
:root .theme_light {
  --main-heading-text-color: #ffc2e6;
  --text-with-bg-color: #353430;
  --main-text-color: #353430;
  --side-header-color: #353430;
  /* Цвета фонов и тени */
  --bg-text-color: #ff8dcb;
  --link-shadow-color: #ff8dcb;
  --link-hover-color: #353430;
  --link-focus-color: #353430;
  --header-title-text-shadow: #ff0070;
  --hover-button-outline-color: rgba(50, 49, 45, 0.4);
  --pseudo-color: #353430;
  --menu-item-border-color: #353430;
  --menu-item-focus-color: #353430;
  /* Основной фон */
  --bg-image-main: url(/images/cover-image-light.png);
}

@media (width >= 768px) {
  :root .theme_light {
    --header-title-text-shadow: #ff8dcb;
  }
}

.theme_light .header .theme_dark-decor-element {
  display: none;
}

.theme_light .header__theme-menu-item:first-of-type {
  block-size: 26px;
  border: 1px solid var(--menu-item-border-color);
}

.theme_light .header__theme-menu-item:last-of-type {
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-heading-text-color: #ffc2e6;
    --text-with-bg-color: #353430;
    --main-text-color: #353430;
    --side-header-color: #353430;
    /* Цвета фонов и тени */
    --bg-text-color: #ff8dcb;
    --link-shadow-color: #ff8dcb;
    --link-hover-color: #353430;
    --link-focus-color: #353430;
    --header-title-text-shadow: #ff0070;
    --hover-button-outline-color: rgba(50, 49, 45, 0.4);
    --pseudo-color: #353430;
    --menu-item-border-color: #353430;
    --menu-item-focus-color: #353430;
    /* Основной фон */
    --bg-image-main: url(/images/cover-image-light.png);
  }

  @media (width >= 768px) {
    :root {
      --header-title-text-shadow: #ff8dcb;
    }
  }
}
